Download e instalação do Spark

In [1]:
# Run below commands
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-3.0.2/spark-3.0.2-bin-hadoop3.2.tgz
!tar xf spark-3.0.2-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
!ls -a

.   .config	 spark-3.0.2-bin-hadoop3.2
..  sample_data  spark-3.0.2-bin-hadoop3.2.tgz

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.2-bin-hadoop3.2"

In [6]:
import findspark
findspark.init()

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [8]:
spark

In [9]:
df = spark.createDataFrame([{"hello":"world"} for x in range(1000)])

/content/spark-3.0.2-bin-hadoop3.2/python/pyspark/sql/session.py:381: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

In [11]:
df.show()

+-----+
|hello|
+-----+
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
|world|
+-----+
only showing top 20 rows

In [13]:
import pyspark
print(pyspark.__version__)

3.0.2

In [14]:
import pandas as pd

In [15]:
df_pandas = pd.read_csv('base.csv')

In [17]:
df_pandas.head()

   usuario  item  avaliacao
0      109     9          3
1      174   412          1
2        7   208          5
3      371    97          5
4      296   255          2

In [22]:
df_spark = spark.read.csv('base.csv',header=True)

In [23]:
df_spark.show()

+-------+----+---------+
|usuario|item|avaliacao|
+-------+----+---------+
|    109|   9|        3|
|    174| 412|        1|
|      7| 208|        5|
|    371|  97|        5|
|    296| 255|        2|
|    280|  82|        2|
|    271| 275|        4|
|    110| 791|        2|
|     59| 926|        1|
|    217| 576|        1|
|    145| 665|        5|
|    334| 204|        4|
|     42| 568|        4|
|    200| 143|        5|
|     89| 387|        5|
|    311| 588|        4|
|    235| 269|        4|
|    287| 156|        5|
|    344| 204|        4|
|     43| 289|        4|
+-------+----+---------+
only showing top 20 rows

In [25]:
df_spark.printSchema()

root
 |-- usuario: string (nullable = true)
 |-- item: string (nullable = true)
 |-- avaliacao: string (nullable = true)

In [26]:
df_spark.select("item").show()

+----+
|item|
+----+
|   9|
| 412|
| 208|
|  97|
| 255|
|  82|
| 275|
| 791|
| 926|
| 576|
| 665|
| 204|
| 568|
| 143|
| 387|
| 588|
| 269|
| 156|
| 204|
| 289|
+----+
only showing top 20 rows